* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  list-style: none;
  font-size: 16px;
  color: inherit;
  font-family: inherit;
  background: initial;
  border: initial;
}

button {
  cursor: pointer;
}
