@use "./abstract/mixins" as mixins;
@use "./abstract/media-queries" as media;
@use "./abstract/variables" as variables;

.world {
  @include mixins.section;
  font-family: "Almarai";
  background-color: variables.$background-dark;

  .content {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;

    @include mixins.display-flex($direction: column);

    .header {
      @include mixins.display-flex($justify: space-around, $align: center);
      height: 12vh;
      width: 100%;
      color: white;

      .players {
        @include mixins.display-flex($gap: 12px, $align: center);
        padding: 18px;
        background: rgb(65, 86, 82);

        .player-1 {
          @include mixins.display-flex($align: center, $gap: 6px);
          color: rgb(43, 177, 255);

          p,
          span {
            font-size: 24px;
          }
        }

        .player-2 {
          @include mixins.display-flex($align: center, $gap: 6px);
          color: rgb(245, 142, 57);
          p,
          span {
            font-size: 24px;
          }
        }
      }

      .current-player {
        @include mixins.display-flex($align: center, $gap: 12px);

        span {
          font-size: 26px;
        }
      }

      .exit-game {
        @include mixins.display-flex($align: center, $gap: 10px);
        padding: 12px 22px;
        font-size: 24px;
        background-color: rgb(65, 86, 82);
        border: 1px solid rgb(70, 172, 153);
      }
    }

    .cards {
      @include mixins.display-flex($justify: center, $wrap: wrap, $gap: 12px);
      align-self: center;
      width: 35vw;

      margin-top: 6vh;
    }
  }
}
